.divTable {
	display: table;

}
.divTableRow {
	display: table-row;
}

.divTableCell {
    background-color: white;
    border: 1px solid gainsboro;
	display: table-cell;
    padding: 3px 3px;
    height: 5px;
    width: 5px;
}

.colorRow * {
    border: 1px solid gainsboro;
	display: table-cell;
    padding: 3px 3px;
    height: 5px;
    width: 5px;
}

.colorIndicator {
    border: 1px solid gainsboro;
	display: table-cell;
    padding: 3px 3px;
    height: 5px;
    width: 5px;
}

/* .colorRow .cell1 {
    background-color: red;
}

.colorRow .cell2 {
    background-color: green;
} */
